@import "../../css/variables.scss";

.console {
    background-color: $color-yellow-light;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75rem;
    padding: 10px;
}