.checkout-breadcrumb {
    counter-reset: breadcrumb;
    font-family: 'Karla';
    font-size: 12px;
    font-weight: bold;
    height: 120px;
    list-style-type: none;
    margin: 0px;
    max-width: 100%;
    padding: 0px;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    &:before {
        background: #000000;
        content: '';
        height: 1px;
        left: 12.5%;
        position: absolute;
        top: 23px;
        width: 75%;
    }

    &__step {
        float: left;
        padding-top: 60px;
        position: relative;
        text-align: center;
        width: 25%;

        &:after {
            background: #FFFFFF;
            border: 3px solid #000000;
            border-radius: 50%;
            content: counter(breadcrumb);
            counter-increment: breadcrumb;
            height: 44px;
            left: calc(50% - 23px);
            line-height: 40px;
            position: absolute;
            text-align: center;
            top: 0px;
            width: 44px;
        }

        &--active {
            &:after {
                background: #000000;
                color: #FFFFFF;
            }
        }
    }
}