@import '../../css/variables';

.add-to-cart {
    position: relative;
    color: $color-white;
    border: 0px;
    padding: 10px 30px;
    margin-top: 15px;
    background: $color-grey;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none !important;

    &:hover {
        color: $color-white;
        background: $color-blue;
        text-decoration: none;
    }
}