@import '../../css/variables';

.add-to-cart {
    position: relative;
    color: #FFFFFF;
    border: 0px;
    padding: 10px 30px;
    margin-top: 15px;
    background: #7E7E7E;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none !important;

    &:hover {
        color: #FFFFFF;
        background: #1498D5;
        text-decoration: none;
    }
}