@import "../../css/variables.scss";

.react-autosuggest {
    &__container {
        position: relative;
        color: #eee;
        font-weight: bold;
        z-index: 10;
    }

    &__suggestions-container {
        &--open {
            display: block;
            position: absolute;
            top: 40px;
            width: 280px;
            border: 1px solid $color-white;
            border-top: 0px;
            background-color: $color-grey-dark;
            // font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 0.875rem;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            z-index: 2;
        }
    }

    &__input {
        width: 280px;
        height: 40px;
        padding: 0px 20px 0px 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        border: 1px solid $color-white;
        border-radius: 20px;
        background-color: $color-grey-dark;
        color: $color-grey-light;

        &::placeholder {
            color: $color-grey-light;
        }

        &--open {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: 0px;
        }

        &--focused {
            outline: none;
        }
    }

    &__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__suggestion {
        cursor: pointer;
        padding: 10px 20px;
        height: 78px;

        &--first {
            border-top: 0;
        }

        &:last-child {
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        &--highlighted {
            background-color: #292929;
        }

        &-column {
            display: inline-block;
            vertical-align: middle;

            &:first-child {
                width: calc(100% - 60px);
            }

            &:last-child {
                width: 60px;
            }
        }

        &-name {
            color: $color-white;
        }

        &-img {
            width: 60px;
        }
    }
}