.container {
    color: #EEEEEE;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

.suggestionsContainerOpen {
    background-color: #0D0D0D;
    border: 1px solid #FFFFFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;;
    border-top: 0px;
    display: block;
    font-size: 0.875rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 300;
    position: absolute;
    top: 40px;
    width: 280px;
    z-index: 2;
}

.input {
    background-color: #0D0D0D;
    border: 1px solid #FFFFFF;;
    border-radius: 20px;
    color: #DDDDDD;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    padding: 0px 20px 0px 14px;
    width: 280px;
}

.input::placeholder {
    color: #DDDDDD;
}

.inputOpen {
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inputFocused {
    outline: none;
}

.suggestionsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.suggestion {
    cursor: pointer;
    height: 78px;
    padding: 10px 20px;
}

.suggestion:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.suggestionFirst {
    border-top: 0;
}

.suggestionHighlighted {
    background-color: #292929;
}

.suggestionColumn {
    display: inline-block;
    vertical-align: middle;
}

.suggestionColumn:first-child {
    width: calc(100% - 60px);
}

.suggestionColumn:last-child {
    width: 60px;
}

.suggestionProductName {
    color: #FFFFFF;
}

.suggestionProductImage {
    width: 60px;
}