.header {
    background-color: #0D0D0D;
    border-top: 4px solid #1498D5;
    color: #DDDDDD;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1px;

    &__navbar {
        position: static;
    }

    &__logo {
        width: 150px;
    }

    &__nav-link {
        color: #DDDDDD !important;

        &:hover {
            color: #FFFFFF !important;
        }
    }
}