@import '../../../css/variables';

.product-card {
    position: relative;
    // background: #122936;
    border-radius: 15px;
    // width: 320px;
    // height: 360px;
    // overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;

    &:hover {
        // background-color: #eee;
        transform: scale(1);
        // cursor: pointer;
    }

    &__image {
        height: 200px;

        &-box {
            // border:1px solid black;
        }
    }

    &__details-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 16px;
    }

    &__title {
        color: $color-black;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        height: 50px;
    }

    &__price {
        color: $color-blue;
        font-size: 1.5rem;
    }
}