.product-card {
    align-items: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;

    &:hover {
        // background-color: #eee;
        transform: scale(1);
    }

    &__image {
        height: 200px;
    }

    &__details-box {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 16px;
        text-align: center;
    }

    &__name {
        color: #000000;
        font-size: 1rem;
        font-weight: bold;
        height: 50px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
    }

    &__price {
        color: #1498D5;
        font-size: 1.5rem;
    }
}