.footer {
    background-color: #0D0D0D;
    border-top: 6px solid #1498d5;
    bottom: 0px;
    color: #DDDDDD;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding: 30px;
    position: absolute;
    width: 100%;

    &__heading {
        font-size: 1rem;
        font-weight: bold;
    }

    &__nav-link {
        color: #DDDDDD;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: 200;

        &:hover {
            color: #FFFFFF;
        }
    }

    &__copyright {
        font-size: 0.75rem;
    }
}