@import "../../css/variables.scss";

footer {
    background-color: $color-grey-dark;
    color: $color-grey-light;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border-top: 6px solid #1498d5;

    & h4 {
        font-size: 1rem;
        font-weight: bold;
    }

    & h5 {
        font-size: 0.75rem;
    }

    & .nav-link {
        color: $color-grey-light;
        font-size: 0.8rem;
        font-weight: 200;
        font-family: 'Roboto', sans-serif;

        &:hover {
            color: $color-white;
        }
    }

    & .copyright {
        font-size: 0.75rem;
    }
}