@import "./css/typography.scss";
@import "./css/variables.scss";

/*--------------------------------------------------------------
>>> Global Styles
--------------------------------------------------------------*/

html {
    font-size: 16px;
}

body {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
}

#root {
    display: block;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 850px;
    position: relative;

    @media (min-width: 576px) {
        padding-bottom: 555px;
    }

    @media (min-width: 768px) {
        padding-bottom: 450px;
    }
}




.slogan {
    color: $color-white;
    font-size: 2rem;
    letter-spacing: 1px;
    position: absolute;
    right: 10%;
    top: 10%;
}

.spinner {
	left: 50%;
	position: absolute;
	top: calc(50% - 100px);
    transform: translate(-50%, -50%);
}